<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("layouts/HtmlHead") %> 
</head>
<body>
    <h1>Add Truck</h1>
    <form action="/companies/<%= company._id %>/trucks" method="POST" required class="login-form">
        <input type="text" name="number" id="number" placeholder="Registration number" autocomplete="off"
                class="form-control-material" required />
        <br>
        <input type="submit" class="btn btn-primary btn-ghost" value="Add truck">
    </form>
</body>
</html>