<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("layouts/HtmlHead") %> 
</head>
<body>
    <h1>Create company</h1>
    <form action="/companies" method="POST">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="address" placeholder="Address" value="boss">
        <input type="text" name="city" placeholder="City" value="Boss">
        <input type="text" name="phone" placeholder="Phone" value="+40">
        <input type="text" name="email" placeholder="Email" value="em@il.com">
        <br>
        <input type="submit" value="Create Company">
    </form>
</body>
</html>