<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("layouts/HtmlHead") %> 
</head>
<body>
    <main>
        <h1>Hi, here will be Intercargo records</h1>
        <br>
        <br>
        <a href="companies">Go to companies</a>
        <br>
        <br>
        <a href="/companies/new">Create new company</a>
    </main>
</body>
</html>